<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Администрирование статей</title>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/stylesheets/authorAdm.css" rel="stylesheet">
    <link href="/stylesheets/topAndBottom.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/">Главная</a></li>
            <li class="nav-item"><a class="nav-link" href="/authors">Авторы</a></li>
            <li class="nav-item"><a class="nav-link" href="/articles">Посты</a></li>
            <li class="nav-item dropdown active"><a class="nav-link dropdown-toggle" id="dropdown08" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Меню</a><span class="sr-only">(current)</span>
                <div class="dropdown-menu" aria-labelledby="dropdown08"><a class="dropdown-item" href="/authorAdmin">Админочка авторов</a><a class="dropdown-item" href="/articleAdmin">Админочка постов</a><a class="dropdown-item" href="/posts">Об авторе</a></div>
            </li>
        </ul>
    </div>
</nav>
<input class="form-control input-sm" id="searchString" type="text" onkeyup="tableSearch()" placeholder="Поиск по таблице" aria-controls="example">
<!-- поиск строк-->
<table class="table table-striped table-bordered" id="authorsTable">
    <thead>
    <tr>
        <th>Заголовок</th>
        <th>Время создания</th>
        <th>Автор</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>
<footer class="blog-footer">
    <p>Blog template built for<a href="https://getbootstrap.com/">Bootstrap</a> by<a href="https://github.com/user-penguin">@user-penguin</a>.<a href="#"> Back to top</a></p>
</footer>
<script>
    function tableSearch() {
        var phrase = document.getElementById('searchString');
        var table = document.getElementById('authorsTable');
        var regPhrase = new RegExp(phrase.value, 'i');
        var flag = false;
        for (var i = 1; i < table.rows.length; i++) {
            flag = false;
            for (var j = table.rows[i].cells.length - 1; j >= 0; j--) {
                flag = regPhrase.test(table.rows[i].cells[j].innerHTML);
                if (flag) break;
            }
            if (flag) {
                table.rows[i].style.display = "";
            } else {
                table.rows[i].style.display = "none";
            }
        }
    }
</script>
<!-- Placed at the end of the document so the pages load faster-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="/assets/js/vendor/popper.min.js"></script>
<script src="/dist/js/bootstrap.min.js"></script>
<script src="/assets/js/vendor/holder.min.js"></script>
<script>
    Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
    });
</script>
</body>
</html>